---
layout: default
---
<div class="home">
  {{ content }}

  {%- if site.updates.size > 0 -%}
    <ul class="post-list">
      {%- for update in site.updates -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}
          <span class="post-meta">{{ update.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ update.url | relative_url }}">
              {{ update.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ update.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    {% comment %} Turn RSS subscribe off until this is set up properly {% endcomment %}
    {% comment %} <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> {% endcomment %}
  {%- endif -%}
</div>
